* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  width: auto;
  background-color: #999;
  margin-bottom: 20px;
}

#title {
  margin: 20px;
  color: white;
}

#color-palette {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}

.color {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

#black {
  background-color: black;
}



.section-board {
  margin: auto;
  width: 300px;

}

.clear {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.clear-div {
  display: flex;

}

.section-pixel {
  display: flex;
  justify-content: center;
}

#pixel-board {
  margin-top: 20px;
  flex-direction: row;
}

.pixel {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}

footer {
  display: flex; 
  background-color: #999;
  color: white;
  margin-top: 90px;
  flex-direction: column;
  height: auto;
}

.footer_copy {
  border-top: 1px solid #2c2c2c;
  line-height: 40px;
  color: white;
  font-size: 12px;
  margin-top: 30px;
}

.footer_copy p {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_copy a {
  color: white;
  text-decoration: none;
}

.footer_copy a:hover {
  text-decoration: underline;
}